@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Heading"]</h1>
    <p>@Localizer["LearnMore", "https://learn.microsoft.com/aspnet/core"]</p>
</div>
